<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851896854204-4p9utp1mppgqppar2qldtqsssavllch9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851896854204-4p9utp1mppgqppar2qldtqsssavllch9</string>
	<key>API_KEY</key>
	<string>AIzaSyCKv4mFmLTG2p3J0P6csFPTvqf-nJ0uLLo</string>
	<key>GCM_SENDER_ID</key>
	<string>851896854204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TA.Fireless</string>
	<key>PROJECT_ID</key>
	<string>school-8af38</string>
	<key>STORAGE_BUCKET</key>
	<string>school-8af38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851896854204:ios:5587e2190fc2a61b78d2b9</string>
	<key>DATABASE_URL</key>
	<string>https://school-8af38.firebaseio.com</string>
</dict>
</plist>